flask>=3.0
flask-cors>=4.0
numpy>=1.26
soundfile>=0.12
vieneu @ git+https://github.com/pnnbao97/VieNeu-TTS.git@e41fdeaa280610e946466736b60cf141e45f3cab
omnivoice @ git+https://github.com/k2-fsa/OmniVoice.git@08be0b4ccbac3e13e374e86fbfead4b4cac343e2
